:root {
  --background: #303030;
  --text: white;
  --accent: #A040FF;
  --accent-border: 0.2rem solid var(--accent);
  --input: #101010E0;
  --box: #181818;
  --code-spacing: 0.2em;
  --content-max-width: 800px;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 100%;
  transition: background-color 0.5s;
}

html, body, .root {
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16pt;
  font-family: Ubuntu, sans-serif;
  color: var(--text);
  background-color: var(--background);
}

.background-flash {
  background-color: var(--accent);
  transition: none;
}

.h-box {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 12px;
}

.v-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

input, button, .fake-button {
  all: unset;
  box-sizing: border-box;
  background: var(--input);
  border-style: none;
  padding: 5px;
}

input {
  border: 1px solid transparent;
  flex-grow: 1;
  min-width: 2em;
}

a {
  color: #60D0FF;
  text-decoration: none;
}

p {
  margin: auto 0;
}

::placeholder {
  color: white;
  opacity: 0.4;
}

input:focus {
  border-color: var(--accent);
}

button, .fake-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  flex-grow: 0;
  padding: 10px 10px;
  transition: all 0.05s;
  flex-shrink: 0;
}

.go-btn {
  min-width: 2.4em;
  transform: scale(1);
}

.go-btn:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 0.5em 0.2em var(--accent);
}

.go-btn:active:after {
  box-shadow: 0 0 0 0 var(--accent);
  opacity: 1;
  transition: 0s;
}

.control-icon {
  height: 1.5em;
}

.button-icon {
  height: 1em;
}

.dropdown {
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 5px 0;
  background: var(--input);
  z-index: 100;
  transition: opacity 0.07s, transform 0.07s;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  min-width: 160px;
}

.active > .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdown-menu > button, .dropdown-menu > .fake-button {
  padding: 10px 20px;
  background: none;
  white-space: nowrap;
}

.dropdown-menu > button:hover,
.dropdown-menu > .fake-button:hover,
.selectable-item:hover {
  background: var(--accent);
}

.list-box {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background: var(--box);
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.scroll-box {
  overflow-y: auto;
}

.queue-box > * {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 12px;
}

.queue-box > *:first-child {
  margin-top: 12px;
}

.queue-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.queue-item-name {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.responsive-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 12px;
}

@media (max-width: 700px) {
  .responsive-box {
    flex-direction: column;
  }
}

/* On touch devices, hover is emulated (poorly) and so it becomes sticky.
 * This prevents that */
@media (hover: hover) {
  .go-btn:hover {

  }
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10em;
  flex-basis: 1em;
  font-size: 1.5em;
  min-width: 2.5em;
  height: 2.5em;
  border-color: var(--accent);
  color: var(--accent);
  transition: all 0.1s;
  transform: scale(1);
}

.control:after {
  content: "";
  display: block;
  border-radius: 10em;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 0.8em 0.3em var(--accent);
}

.control:active:after, .control.fake-active:after {
  box-shadow: 0 0 0 0 var(--accent);
  opacity: 1;
  transition: 0s;
}

#peer-id-div {
  margin-top: 0.8em;
}

#peer-id-input {
  text-transform: uppercase;
  font-family: Courier New, monospace;
  text-align: center;
  flex-grow: 0;
  flex-basis: 0;
  min-width: 5em;
  letter-spacing: var(--code-spacing);
  /* we have to indent by the same amount as letter-spacing to make centering work,
   * because first char doesn't have spacing applied to left side. */
  text-indent: var(--code-spacing);
}

.is-connected #peer-id-input {
  border-style: none;
  border-bottom: var(--accent-border);
  line-height: 0;
}

.pairing-elem {
  font-size: 1.5em;
  height: 2em;
}
.is-connected .pairing-elem {
  font-size: 1.2em;
}

#status {
  font-size: 1.2em;
  text-align: center;
  max-width: var(--content-max-width);
  padding: 25px 50px;
  overflow: hidden;
}

#media-div {
  height: 2em;
  width: 100%;
}

.add-media-btn {
  flex-grow: 1;
}

.progress-hitbox {
  width: 100%;
}

.progress-container {
  background: var(--input);
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.progress-bar {
  background: var(--accent);
  height: 6px;
  width: 0%;
  transition-timing-function: all linear;
}

#content {
  display: flex;
  max-width: var(--content-max-width);
  width: calc(100vw - 80px);
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 20px;
}

.full-page-shade {
  display: none;
  position: fixed;
  align-items: center;
  pointer-events: none;
  background: var(--input);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: clip;
  justify-content: center;
}

.popup-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  pointer-events: auto;
  padding: 15px;
  max-width: min(var(--content-max-width), 85vw);
  max-height: 80vh;
  background: var(--background);
  border-radius: 1em;
}

.selectable-item {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  padding: 7px 10px;
  gap: 7px;
}

.file-browser-container {
  width: min(calc(var(--content-max-width) - 200px), 85vw);
}

.file-browser-header {
  justify-content: start;
  margin-bottom: 12px;
  min-height: 2em;
}

#file-browser-item-icon {
  font-size: 1.75em;
}

#file-browser-item-name {
  font-size: 0.9em;
}

.retry-btn-div {
  margin-top: 100px;
}

#dismiss-div {
  display: none;
  position: absolute;
  background: transparent;
  top: 0;
  width: 100%;
  height: 100%;
}
