<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
body {
  font-family: sans-serif;
  line-height: 1.3;
}

main {
  max-width: 600px;
  padding: 24px;
  margin: auto;
}


.log-box {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    border-top: 1px solid #ccc;
    overflow-y: auto;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: monospace;
}
    </style>
  </head>
  <body>
    <input type="file" id="fileInput" multiple />
    <ul id="fileList"></ul>

    <pre id="logBox" class="log-box"></pre>
  </body>

  <script type="module">

import WebYeetFileServer from "/client.mjs";

let token = "{{TOKEN}}";
let session = "{{SESSION}}";

let selectedFiles = [];

function getApacheTimeFormat() {
  // Get current date
  const now = new Date();

  // Define list of months (Apache uses short version)
  const months = [
      'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
      'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
  ];

  // Define timezone offset string
  let offset = -now.getTimezoneOffset();
  let offsetSign = (offset >= 0) ? '+' : '-';
  offset = Math.abs(offset);
  let offsetString = offsetSign + ('00' + Math.floor(offset / 60)).slice(-2) + ('00' + (offset % 60)).slice(-2);

  // Format the output
  return '[' + 
      ('0' + now.getDate()).slice(-2) + '/' +
      months[now.getMonth()] + '/' +
      now.getFullYear() + ':' +
      ('0' + now.getHours()).slice(-2) + ':' +
      ('0' + now.getMinutes()).slice(-2) + ':' +
      ('0' + now.getSeconds()).slice(-2) + ' ' +
      offsetString + ']';
}


function log(msg) {
  let logBox = document.getElementById('logBox');
  logBox.textContent += msg + "\n";
  logBox.scrollTop = logBox.scrollHeight;
}

function logRequest(request, response) {
  let ip = request.headers.get("CF-Connecting-IP") || "?.?.?.?";
  let ts = getApacheTimeFormat();
  let path = (new URL(request.url).pathname);
  log(`${ip} ${ts} ${request.method} ${path} ${response.status}`);
}

let yeeturl = new URL(window.location.origin);
let fileServer = new WebYeetFileServer(yeeturl, token, session, selectedFiles);

// let yeeturl = "https://webyeet.com"
// let fileServer = await (WebYeetFileServer.fromNewSession(yeeturl, selectedFiles));

fileServer.onAccess = logRequest;
fileServer.connect();

function renderFileList() {
  let fileList = document.getElementById('fileList');
  fileList.innerHTML = ''; // Clear existing list

  selectedFiles.forEach(file => {
    let li = document.createElement('li');
    let href = document.createElement('a');
    href.href = `${fileServer.yeeturl.origin}/${fileServer.token}/${file.name}`;
    href.target = "_blank";
    href.rel = "noopener";
    href.textContent = file.name;
    li.appendChild(href);
    fileList.appendChild(li);
  });
}

document.getElementById('fileInput').addEventListener('change', function(event) {
  selectedFiles.length = 0
  selectedFiles.push(...event.target.files);
  renderFileList();
});



  </script>