:root {
  --background: #303030;
  --text: white;
  --accent: #0080FF;
  --accent-border-width: 0.4em;
  --accent-border: var(--accent-border-width) solid var(--accent);
  --box: #00000080;
  --code-spacing: 0.2em;
  --clock-mark-width: 0.3em;
  --clock-hand-width: 0.4em;
  --clock-hand-overhang: 1em;
  --clock-size: min(40vw, 60vh);
  --main-content-width: calc(100% - var(--clock-size) - 2em);
}

html, body, .root {
  position: absolute;
  overflow: clip;
  cursor: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 3vmin;
  font-family: ubuntu, sans-serif;
  font-weight: lighter;
  color: var(--text);
  width: 100%;
  height: 100%;
}

.background-flash {
  background: var(--accent);
}

p {
  margin: 0;
}

.root {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  padding: 1.5em 2em;
  box-sizing: border-box;
  transition: background-color 1s;
}

.background-flash {
  background: white;
  transition: background-color 0.02s;
}

.bottom-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#status {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.info-box {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.8em;
  border-left: var(--accent-border);
  background-color: var(--box);
  min-width: 14em;
  max-width: var(--main-content-width);
  box-sizing: border-box;
  overflow: hidden;
}

#errors {
  margin-left: var(--accent-border-width);
  font-weight: normal;
  overflow: hidden;
  margin-top: 2em;
  max-width: var(--main-content-width);
  flex-grow: 1;
}

#control-url {
  font-size: 2em;
  margin-bottom: 0.4em;
}

.peer-id-container {
  border-top: var(--accent-border);
  background-color: var(--box);;
  display: inline-block;
  text-align: center;
  width: 12.5em;
  line-height: 4em;
  height: 4em;
}

#peer-id {
  font-family: courier new, monospace;
  font-weight: normal;
  font-size: 2em;
  letter-spacing: var(--code-spacing);
  /* we have to indent by the same amount as letter-spacing to make centering work,
   * because first char doesn't have spacing applied to left side. */
  text-indent: var(--code-spacing);
}

#clock {
  position: absolute;
  right: 2rem;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--clock-size);
  height: var(--clock-size);
  border-radius: 100%;
  background-color: var(--box);
  overflow: visible;
}

.clock-item-container {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: var(--clock-mark-width);
  transition: transform 0.2s;
}

.clock-mark-container {
  padding-top: 3%;
  padding-bottom: 92%;
}

.clock-hour-container {
  padding-top: 25%;
  padding-bottom: calc(50% - var(--clock-hand-overhang));
  width: var(--clock-hand-width);
}

.clock-minute-container {
  padding-top: 7%;
  padding-bottom: calc(50% - var(--clock-hand-overhang));
  width: var(--clock-hand-width);
}

.clock-item {
  height: 100%;
  width: 100%;
}

.clock-mark {
  background-color: var(--text);
  border-radius: var(--clock-mark-width);
}

.clock-hour-hand {
  background-color: var(--accent);
}

.clock-minute-hand {
  background-color: var(--accent);
}

#torrents {
  margin-left: var(--accent-border-width);
  margin-top: 3em;
}

#torrent-downloading-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#torrent-downloading-title {
  font-weight: bold;
  overflow: clip;
}

#torrent-downloading-amount {
  margin-top: auto;
  font-size: 0.75em;
}

#torrent-downloading-bar-background {
  height: var(--accent-border-width);
  background-color: var(--box);
  margin-top: 0.6em;
  margin-bottom: 1em;
}

#torrent-downloading-progress {
  height: 100%;
  width: 0;
  background-color: var(--accent);
  transition: width 0.2s linear;
}

#torrent-status {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#torrent-additional-info {
}
